<h1>Pipes</h1>
<div class="form-floating mb-3">
    <input
        class="form-control"
        type="email"
        id="floatingInput"
        placeholder="Digite"
        [(ngModel)]="number"
    >
    <label for="floatingInput">Digite:</label>
</div>
<h4>Sem formatação: </h4>
<p>{{ number | number }}</p>

<h4>Com formatação: </h4>
<p>{{ number | number:'2.1-1' }}</p>

<h4>Com porcentagem: </h4>
<p>{{ number | percent }}</p>

<h4>Com moeda: </h4>
<p>{{ number | currency: 'BRL' }}</p>
<p>{{ text }}</p>
<p>{{ text | lowercase }}</p>
